<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Autofill-DB</a>
    <ul>
      <li><a href="/customers">Customers</a></li>      
      <li><a href="/salesOrders">SalesOrder</a></li> 
      <li><a href="/dos">DO</a></li> 
    </ul>
    <hr style="width:1000%;text-align:left;margin-left:0">
  </nav>
</header>