<form action="" method="POST">
    <div class="form-row">    
      <div class="form-item">   
        <select name="filter"  >
          <option label="Parts In Progress" value="Parts In Progress"></option>  
          <option label="FAB Orders" value="FAB Orders" ></option>       
        </select>  
      </div>     
      <div class="form-item">
        <input name="date" type="date" > 
      </div>
      <div class="form-item"></div>
    </div>
    <div class="customer-row">
     <button class="btn btn-primary" name="search" type="submit"> Search </button>
    </div>  
  </form>
  <br>