<h2 class="page-header">Customers List</h2>
<div class="form-row">
   <a class="btn btn-danger" href="/customers/new">Create New Customer</a>
</div>
<br>
<% customers.forEach(customer => { %>
  <div class="customer-row">
    <div class="customer-name"><%= customer.name %></div>        
    <div class="btn-row">
      <a class="btn btn-primary" href="/customers/<%= customer.id %>">View</a>
      <a class="btn btn-primary" href="/customers/<%= customer.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
                  { url: `/customers/${customer.id}` }) %>
    </div>
  </div>
<% }) %>